.cart-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-700);
  padding: var(--space-4);
  margin: var(--space-4) 0;
  border-radius: var(--border-radius-medium);
}

@media (min-width: 48rem) {
  .cart-item {
    flex-direction: row;
    justify-content: space-between;
  }
}
