<article class="cart-item">
  <div class="cart-item-info">
    <h2>TITLE</h2>
    <p>TOTAL PRICE (PRICE FOR A SINGLE PRODUCT)</p>
  </div>

  <div class="cart-item-management">
    <input type="number" required>
    <button class="btn btn-alt">Update</button>
  </div>
</article>