<%- include('../../shared/includes/head', { pageTitle: 'All Products'}) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
 <main>
 <header>
  <img src="" alt="">
  <div id="product-info"></div>
 </header>
 </main>

<%- include('../../shared/includes/footer') %>