<%- include('../../shared/includes/head', { pageTitle: 'Your Cart'}) %>
<link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
 <main>
 <h1>Your Cart</h1>
  <ul id="cart-items"></ul>
  <div id="cart-total">
    <p>Total: £...</p>
  </div>
 </main>

<%- include('../../shared/includes/footer') %>