<%- include('../../shared/includes/head', { pageTitle: 'All Products'}) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
 <main>
  <h1>Product Administration</h1>
  <section>
    <h2>Manage Products</h2>
    <p>
      <a href="/admin/products/new" class="btn">Add Product</a>
    </p>
  </section>
  <section>
   <ul>
    <li>
      <article>
        <img src="" alt="">
        <h2>TITLE</h2>
        <div>
          <a class="btn btn-alt" href="">View & Edit</a>
          <button class="btn btn-alt" >Delete</button>
        </div>
      </article>
    </li>
   </ul>
  </section>
 </main>

<%- include('../../shared/includes/footer') %>